@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
   margin-left: 0;
   margin-right: 0;
   
}
.class_image{
    background-image: url(phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - -100px);
    width: calc(100vw-10px);
    
   
}
  
.top-menu-nav-list{
    text-align: center;
}


.top-menu-nav-item a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.top-menu-nav-item{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 72 0 0;
}


.title{
    text-align: center;
    margin: 49 253 38 253;
    font-style: normal;
    line-height: 27px;
    font-size: 22px;
    font-family:'Montserrat', sans-serif;
    color: #373737;
    letter-spacing: 3.3px;
}


.content{
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    font-weight: normal;
    /* font-family:'Montserrat'; */
    color: #373737;
    letter-spacing: 2.4px;
    margin: 38 67.5 28 67.5;
}

.text_second{
   margin-top: 28px;
}

.button{
    border: 0;
    border-radius: 4px;
    background: #FF0000;
    width: 191px;
    height: 51px;
    margin: 0 0 0 45%;
    
   
}

.button_class{
    color: white;
    font-family:'Montserrat';
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}


.footer_text{
    margin-left: 855px;
    margin-top: 82px;
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: bold;  
    font-family: Montserrat;
    font-size: 16px;
    line-height: 19.5px;

}